<div class="container">
  <form class="signin_register_form" name="signin_register" method="post" action="/start">
    <input type="text" placeholder="player1" name="player1">
    <input type="text" placeholder="player2" name="player2">
    <input type="submit" value="enter game!">
  </form>
</div>
